body{
    margin: 0;

}


body button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
}


.form{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px; 
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form__input{
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    height: 25px;
    border: 1px #949191 solid;
    padding-left: 10px;
}
.form_row{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


#button{
    background: orange;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    outline: none;
    color: white;
}

#button:hover{
    background: green;
    color:white;
    transition: 0.5s;
}