body{
    margin: 0;

}


body button{
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        cursor: pointer;
}


input{
    outline:none;
}
input:active{
    outline:none;
}
input:focus{
    outline:none;
}



.form{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 170px; 
    padding-bottom: 25px;
    padding-right: 25PX;
    padding-left: 25PX;
    padding-top: 10PX;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form__input{
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: none;
    height: 25px;
    border: 1px #949191 solid;
    padding-left: 10px;
}
.form_row{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}
#button{
    background: orange;
    height: 30px;
    width: 200px;
    margin: 0 auto;
    outline: none;
    color: white;
}

#button:hover{
    background: green;
    color:white;
    transition: 0.5s;
}



h2{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.content{
    width: 1140px;
    margin: 0 auto;
}

.first__row{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.second__row{
    display: flex;
    justify-content: space-around;
    align-items: start;
}





p{
    display: block;
    text-align: center;
    font-size: 14px;
}



